<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
  <meta charset=" UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Code</title>
  <!--================= Favicon =================-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <main>
    <div class="page-path">
      <div class="container">
        <div class="breadcrumbs-inner">
          <h1 class="path-title">Đổi mật khẩu</h1>
          <ul>
            <li>
              <a class="home-page-link" th:href="@{/}">Trang chủ <i class="fal fa-angle-right"></i>&nbsp;</a>
            </li>
            <li>
              <a class="current-page" th:href="@{/security/login/form}"> Đổi mật khẩu</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--login-area start-->
    <div class="login-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="login-form">
              <div class="section-title">
                <h2>Đổi mật khẩu</h2>
              </div>
              <div class="card col-md-8 m-auto">
                <div class="card-body">
                  <form autocomplete="off" th:action="@{/security/change-password}" method="post">
                    <div class="form">
                      <input type="password" style="height: 50px;" class="form-control" name="oldPassword"
                        placeholder="Mật khẩu cũ của bạn" required />
                    </div>
                    <div class="form">
                      <input type="password" style="height: 50px;" class="form-control" name="newPassword"
                        placeholder="Mật khẩu mới của bạn" required />
                    </div>
                    <div class="form">
                      <input type="password" style="height: 50px;" class="form-control" name="confirmPassword"
                        placeholder="Xác nhận mật khẩu" required />
                    </div>
                    <div class="form">
                      <button type="submit" class="btn">Xác nhận</button>
                    </div>
                    <i class="pull-left text-danger" th:text="${message}"></i><br>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--login-area end-->
  <div class="scroll-top-btn scroll-top-btn1"><i class="fas fa-angle-up arrow-up"></i><i
      class="fas fa-circle-notch"></i></div>
</body>

</html>