<div xmlns:th="http://www.thymeleaf.org">
	<div class="banner banner-4">
        <div class="container">
          <div class="row">
            <div class="col-xl-8">
              <div class="swiper bannerSlider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a href="/" class="product-box product-box-large">
                      <div class="contents">
                        <span class="pretitle">Weekend Discount</span>
                        <h1 class="product-title">Màn hình lớn<br>
                          cực kỳ mỏng<br>
                          <span>Thiết kế...</span>
                        </h1>
                        <span class="product-price">
                          <span>Chỉ từ</span>
                          499.000 vnđ
                        </span>
                      </div>
                      <div class="product-thumb"><img src="/assets/images/laptop.webp" alt="product-thumb">
                      </div>
                    </a>
                  </div>
                </div>
                <div class="slider-navigation">
                  <div class="swiper-button-prev slider-btn prev"><i class="fal fa-long-arrow-up"></i></div>
                  <div class="swiper-button-next slider-btn next"><i class="fal fa-long-arrow-down"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="row">
                <div class="col-xl-12">
                  <a href="/" class="product-box product-box-medium">
                    <div class="contents">
                      <span class="pretitle">-45% </span>
                      <h1 class="product-title">Giá
                        <span>Điện thoại</span>
                      </h1>
                      <p>Đừng bỏ lỡ cơ hội cuối cùng</p>
                    </div>
                    <div class="product-thumb"><img src="/assets/images/iphone-13.webp" alt="product-thumb">
                    </div>
                  </a>
                </div>
                <div class="col-xl-12">
                  <a href="/" class="product-box product-box-medium product-box-medium2">
                    <div class="contents">
                      <span class="pretitle">Cửa hàng</span>
                      <h1 class="product-title">chúng tôi giảm giá tới 30%</h1>
                      <div class="view-collections go-btn">Xem bộ sưu tập <i class="fal fa-long-arrow-right"></i></div>
                    </div>
                    <div class="product-thumb"><img src="/assets/images/headphone.webp" alt="product-thumb">
                    </div>
                  </a>
                </div>
                <div class="col-xl-12">
                  <a href="/" class="product-box product-box-medium product-box-medium3 product-box-bg">
                    <div class="contents">
                      <span class="pretitle">Siêu giảm giá</span>
                      <h1 class="product-title">Loa</h1>
                      <div class="view-collections go-btn">Mua ngay<i class="fal fa-long-arrow-right"></i></div>
                    </div>
                    <div class="product-thumb"><img src="/assets/images/speaker.webp" alt="product-thumb">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>