<div xmlns:th="http://www.thymeleaf.org">
    <div class="rts-posters-section section-5 section-gap mt-5">
        <div class="container">
            <hr>
          <div class="row mt-5">
            <div class="col-xl-3">
              <a href="/" class="product-box product-box-medium product-box-medium2">
                <div class="contents">
                  <span class="pretitle">Cửa hàng chúng tôi</span>
                  <h1 class="product-title">Giảm giá lên đến <br>30%</h1>
                  <div class="view-collections go-btn">Xem sản phẩm <i class="fal fa-long-arrow-right"></i></div>
                </div>
                <div class="product-thumb"><img src="/assets/images/products/home4/pot.png" alt="product-thumb">
                </div>
              </a>
            </div>
            <div class="col-xl-6">
              <a href="/" class="product-box product-box-medium mid">
                <div class="contents">
                  <span class="pretitle">-45%</span>
                  <h1 class="product-title">Sản phẩm
                    <span>mới</span>
                  </h1>
                  <p>Đừng bỏ lỡ cơ hội cuối cùng</p>
                </div>
                <div class="product-thumb"><img src="/assets/images/products/home4/phones.png" alt="product-thumb"></div>
              </a>
            </div>
            <div class="col-xl-3">
              <a href="/" class="product-box product-box-medium product-box-medium3">
                <div class="contents">
                  <span class="pretitle">Thiết bị điện tử</span>
                  <h1 class="product-title">Thông minh</h1>
                  <div class="view-collections go-btn">Mua ngay <i class="fal fa-long-arrow-right"></i></div>
                </div>
                <div class="product-thumb"><img src="/assets/images/products/home4/machine.png" alt="product-thumb"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
</div>