<div xmlns:th="http://www.thymeleaf.org">
    <div class="rts-featured_products-section section-5 section-gap">
        <div class="container">
          <div class="section-header section-header4">
            <span class="section-title section-title-2 mb--5
                    ">Sản phẩm bán chạy</span>
            <a href="/" class="go-btn">Tất cả sản phẩm <i class="fal fa-long-arrow-right"></i></a>
          </div>
          <div class="products-area">
            <div class="swiper rts-fiveSlide">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-item product-item4">
                    <a href="/" class="product-image">
                      <img src="/assets/images/products/home4/1.png" alt="product-image">
                    </a>
                    <div class="bottom-content">
                      <span class="product-catagory">Điện tử thông minh</span>
                      <a href="/" class="product-name">Pronix Smart Laptop</a>
                      <div class="flex-wrap">
                        <div class="action-wrap">
                          <span class="product-price">5.000.000 VNĐ</span>
                          <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                            Thêm vào giỏ hàng</a>
                        </div>
                        <button class="wishlist-btn"><i class="fal fa-star"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item product-item4">
                    <a href="/" class="product-image">
                      <img src="/assets/images/products/home4/2.png" alt="product-image">
                    </a>
                    <div class="bottom-content">
                      <span class="product-catagory">Electronics</span>
                      <a href="/" class="product-name">Pronix Smart Laptop</a>
                      <div class="flex-wrap">
                        <div class="action-wrap">
                          <span class="product-price">15.000.000 VNĐ</span>
                          <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                            Thêm vào giỏ hàng</a>
                        </div>
                        <button class="wishlist-btn"><i class="fal fa-star"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item product-item4">
                    <a href="/" class="product-image">
                      <img src="/assets/images/products/home4/3.png" alt="product-image">
                    </a>
                    <div class="bottom-content">
                      <span class="product-catagory">Electronics</span>
                      <a href="/" class="product-name">Pronix Camera</a>
                      <div class="flex-wrap">
                        <div class="action-wrap">
                          <span class="product-price">23.000.000 VNĐ</span>
                          <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                            Thêm vào giỏ hàng</a>
                        </div>
                        <button class="wishlist-btn"><i class="fal fa-star"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item product-item4">
                    <a href="/" class="product-image">
                      <img src="/assets/images/products/home4/5.png" alt="product-image">
                    </a>
                    <div class="bottom-content">
                      <span class="product-catagory">Electronics</span>
                      <a href="/" class="product-name">Extra Powerful PC Cooler</a>
                      <div class="flex-wrap">
                        <div class="action-wrap">
                          <span class="product-price">10.000.000 VNĐ</span>
                          <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                            Thêm vào giỏ hàng</a>
                        </div>
                        <button class="wishlist-btn"><i class="fal fa-star"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item product-item4">
                    <a href="/" class="product-image">
                      <img src="/assets/images/products/home4/6.png" alt="product-image">
                    </a>
                    <div class="bottom-content">
                      <span class="product-catagory">Electronics</span>
                      <a href="/" class="product-name">Extra Powerful PC Cooler</a>
                      <div class="flex-wrap">
                        <div class="action-wrap">
                          <span class="product-price">15.000.000 VNĐ</span>
                          <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i>
                            Thêm vào giỏ hàng</a>
                        </div>
                        <button class="wishlist-btn"><i class="fal fa-star"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination-area">
                <div class="swiper-pag"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>