<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Insert title here</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="keywords" content="">


</head>
<body>
	<main th:object="${item}" class="poly-item-detail">
		<div class="page-path">
			<div class="container">
			  <div class="breadcrumbs-inner">
				<h3>Chi tiết</h3>
				<ul>
				  <li>
					<a class="home-page-link" th:href="@{/}">Trang chủ <i class="fal fa-angle-right"></i></a>
				  </li>
				  <li>
					<a class="current-page" href="/">Chi tiết</a>
				  </li>
				</ul>
			  </div>
			</div>
		</div> <br>
		<div class="row mt-5">
			<div class="col-md-8 m-auto d-flex gap-5">
				<div class="card col-4">
					<img th:src="@{|/assets/images/${item.image}|}"
						class="mx-auto" width="100%">
				</div>
				<div class="product-single">
					<h2 th:text="${item.name}"></h2>
					<span class="mt-2">
						Giá bán: <span class="product-price text-primary mb-0" 
						style="font-size: 25px;" th:utext="${#numbers.formatDecimal(item.price,3,'POINT',0,'COMMA')} + ' vnđ'"></span>
					</span>
					<div class="box-capacity mt-3">
					   <span>Ngày mở bán: <span class="capacity" th:text="${#dates.format(item.createDate, 'dd/MM/yyyy')}"></span></span>
						<br>
					   <span class="mt-2">Loại: <span class="capacity" th:text="${item.category.name}"></span></span>
					</div>
					<div class="mt-3">
						<a href="#" th:attr="ng-click=@{|cart.add(${item.id})|}" class="addto-cart btn btn-sm btn-danger"><i class="fal fa-shopping-cart"></i>
							Add To Cart
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
		<br><br>
	</main>

</body>
</html>