<div class="panel panel-default" ng-if="items">
	<nav aria-label="Standard pagination example" class="d-flex justify-content-end me-3 mb-3 mt-3">
		
		<ul class="pagination">
			<li class="page-item">
				<a style="cursor: pointer;" class="page-link" ng-click="pager.prev()" aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>
				<li class="page-item"><a style="cursor: pointer;" class="page-link" ng-click="pager.first()" >First</a></li>
				<li class="page-item"><a style="cursor: pointer;" class="page-link" >{{pager.page + 1}}</a></li>
				<li class="page-item"><a style="cursor: pointer;" class="page-link" ng-click="pager.last()">Last</a></li>
			<li class="page-item">
				<a style="cursor: pointer;" class="page-link" ng-click="pager.next()" aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
		</ul>
	</nav>
	<table class="table table-condensed">
		<thead class="bg-succes" >
			<tr>
				<th>Mã sản phẩm</th>
				<th>Tên sản phẩm</th>
				<th>Giá sản phẩm</th>
				<th>Ngày sản xuất</th>
				<th>Hình sản phẩm</th>
				<th>loại sản phẩm</th>
				<th>Có mở bán?</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pager.items" class="align-middle">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.price.toLocaleString('vi-VN')}} VNĐ</td>
				<td>{{item.createDate | date : 'dd-MM-yyyy'}}</td>
				<td>
					<img ng-src="{{'/assets/images/' + item.image}}" width="50" class="img-thumbnail">
				</td>
				<td>{{item.category.name}}</td>
				<td>{{item.available?'Có':'Không'}}</td>
				<td>
					<div>
						<button ng-click="edit(item)" class="btn btn-warning btn-sm me-3">Edit</button>
						<button ng-click="delete(item)" class="btn btn-danger btn-sm">Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>